.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/flatFiles/CoronalHemisphere/*csv
output/processed_data/*RDS
output/processed_data/RC/*RDS
output/processed_data/Log/*RDS
output/processed_data/SCT/*RDS
NBClust-Plots
